!!!
%html
  %head
    - unless @person
      %title A Birthday Website
    - else
      %title 
        = "A Page for #{@person}"
    %script{:src => "/vendor/jquery/jquery-2.0.3.min.js", :type => "text/javascript"}
    %script{:src => "/vendor/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
    %link{:href => "/vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/vendor/fontawesome/css/font-awesome.min.css", :rel => "stylesheet"}/
    
  %body
    %ul.breadcrumb
      %li
        %a{:href => "/"}
          Home
      %li
        %a{:href => "/person/Jeremy"}
          Jeremy
      %li
        %a{:href => "/person/Barry"}
          Barry
      %li
        %a{:href => "/stocks/price"}
          Stocks
      %li
        %a{:href => "/games/index"}
          Games
    - if @person
      - @links = {"awesome" => "Awesome", "skills" => "Skills", "medical" => "Medical Facts", "stories" => "Stories", "room" => "Room", "wishes" => "Birthday Wishes" ,"pictures" => "Pictures"}
      - if @person == "Barry"
        - @links = {"awesome" => "Awesome", "skills" => "Skills", "stories" => "Stories", "wishes" => "Birthday Wishes" ,"pictures" => "Pictures"}
      %ul.breadcrumb
        - @links.each do |link, title|
          %li
            %a{:href => "/person/#{@person}/#{link}"}
              = title
    = yield 

  %p
    Website by Gideon Steinberg
